/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #d3d3d3;
    background: linear-gradient(356deg, #250e31, #00524efc);
}

header {
    background: #6441A5; /* Twitch purple */
    color: white;
    text-align: center;
    padding: 2rem;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #00ff88;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
}

.btn-chrome {
    display: inline-block;
    padding: 10px 20px;
    background: #1c5094; /* Синий цвет в стиле Chrome */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
}

section {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    border-radius: 5px;
    margin: 1rem 0;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #624f85 ;
}

@media (max-width: 600px) {
    header h1 {
        font-size: 1.8rem;
    }
    section {
        padding: 1rem;
    }
}